<header class="header-admin">
  <div class="container">
    <div class="logo">
      <a href="#">Your Logo</a>
    </div>
    <div class="navbar">
      <a href="/home-admin" class="active">Dashboard</a>
    </div>
    <div class="navbar">
      <a href="/adminUsers">Users</a>
    </div>
    <div class="navbar">
      <a href="/int-transactions">Audit Requests</a>
    </div>
    <div class="navbar">
      <a href="/register?fromAdmin=true">CreateInternalUser</a>
    </div>
    <div class="navbar">
      <a href="#" id="logout">Logout</a>
    </div>
  </div>
</header>
