.container {
  margin: 20px;
}

input[type="text"],
button {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.radio-label {
  margin-left: 20px;
}

.transaction-table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.btn-edit {
  background-color: #EFF5F5;
    /* color: #497174; */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-edit:hover {
  
  background-color: #497174;;
}
