<div>
    <h2>Edit Transaction</h2>
    <div *ngIf="transaction">
        <div>
            <label>Transaction ID:</label>
            <input type="text" [ngModel]="transaction?.transactionId" >
        </div>
        <div>
            <label>Sender Account:</label>
            <input type="text" [ngModel]="transaction?.senderAcc?.accountNumber" >
        </div>
        <div>
            <label>Receiver Account:</label>
            <input type="text" [ngModel]="transaction?.receiverAcc?.accountNumber" >
        </div>
        <div>
            <label>Transaction Type:</label>
            <input type="text" [ngModel]="transaction?.transactionType">
        </div>
        <div>
            <label>Amount:</label>
            <input type="text" [ngModel]="transaction?.amount">
        </div>
        <div>
            <label>Created Time:</label>
            <input type="text" [ngModel]="transaction?.createdtime" >
        </div>
        <div>
            <label>Status:</label>
            <input type="text" [ngModel]="transaction?.status">
        </div>
        <button (click)="saveChanges()">Save Changes</button>
    </div>
</div>
