/* General body styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

/* Styling for the account details table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

th, td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

th {
  background-color:  #497174;
  color: white;
  letter-spacing: 0.5px;
}

/* Removed styling for even rows to make all rows have the same background color */
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

tr:hover {
  background-color: #e8f5e9;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Delete button styles */
.delete-btn {
  background-color: #ff4d4d; /* Red background */
  color: white; /* White text */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #cc0000; /* Darker red on hover */
}

/* Styles for rows with deletion in progress or deleted */
.request-pending, .row-deleted {
  background-color: #cccccc; /* Dull background */
  color: #666666; /* Dull text color */
}

/* Additional style for deleted rows */
.row-deleted {
  text-decoration: line-through; /* Optional: adds a strike-through effect */
}

/* Style for the delete button in deleted rows */
.row-deleted .delete-btn {
  background-color: #aaaaaa; /* Darker gray */
  pointer-events: none; /* Disables the button */
}

/* Style for inactive account rows */
.status-inactive {
  border: 2px dashed #666666; /* Dashed border for INACTIVE accounts */
}

/* CSS for inactive and pending accounts */
.inactive-pending {
  text-decoration: line-through;
  background-color: #cccccc; /* Gray background for less active appearance */
  color: #666666; /* Dark gray text to indicate inactivity */
}

