<app-header></app-header>
<table>
  <thead>
    <tr>
      <th>Sender Account</th>
      <th>Receiver Account</th>
      <th>Transaction Type</th>
      <th>Amount</th>
      <th>Last Modified Time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.senderAcc?.accountNumber}}</td>
      <td>{{ transaction.receiverAcc?.accountNumber}}</td>
      <td>{{ transaction.transactionType }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.lastModifiedtime | date: 'medium' }}</td>
      <td>{{ transaction.status }}</td>
    </tr>
  </tbody>
</table>

